body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #E9E1EF;
}

h1 {
    font-family: 'Courier New', Times, serif;
    font-size: 50px;
    color: #300d4b;
}

.container {
    height: 550px;
    width: 400px;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #AB84C8;
    border: 2px solid #662D91;
    border-radius: 8px;
}

.display {
    background-color: #E9E1EF;
    height: 92px;
    flex: 0 0 auto;
    border: 2px solid #662D91;
    border-radius: 8px;
    overflow: auto;
}

.buttons {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.core {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.moreTools {
    display: flex;
    gap: 5px;
}

.core button,
.moreTools button {
    background-color: #2D913E;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.4s;
}

.core button:hover{
    background-color: #84C890;
    color:white;
}

.moreTools button {
    height: 70px;
    background-color: #84C890;
    flex: 1 1 auto;
}

.moreTools button:hover {
    background-color: #2D913E;
    color: white;
}

.numbers {
    width: 315px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.numbers button{
    width: 100px;
    flex: 1 1 auto;
}

.operators {
    width: 85px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.operators button {
    flex: 1 1 auto;
}

.operators .equals {
    background-color: #FA9F57;
    height: 65px;
}

.operators .equals:hover{
    background-color: #FA9F57;
    filter: brightness(0.8);
    color:white;
}